#list{
  list-style: none;
  display: flex;
  margin: 0;
  padding:0;
}
.list-horizontal{
  flex-direction: row;
}
.list-vertical{
  flex-direction: column;
}
.list-horizontal .list-element:last-child{
  margin-right:0 !important;
}
.list-vertical .list-element:last-child{
  margin-bottom:0 !important;
}
