#addButton{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: background-color 0.2s ease;
  cursor: pointer;
}
#addButton:hover {
  background: rgba(250,250,250,0.05);
}
#addButton input[type="file"]{
  height: 100%;
  opacity: 0.00001;
  position: absolute;
}
.addIcon{
  position: relative;
  height: 13px;
  width: 13px;
}
.addIcon:before{
  content: "";
  position: absolute;
  background-color: #fff;
  width: 13px;
  height: 3px;
  top: 5px;

}
.addIcon:after {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 3px;
  height: 13px;
  left: 5px;
}
