.player{
  height: 34px;
  background:rgba(0,17,56,0.3);
  display: flex;
  flex-direction: column;
  flex-direction: row;
  align-items: center;
  cursor:pointer;
  flex:100%;
}
.player-path{
  font-family: arial;
  font-size: 11px;
  padding-left: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-right: 7px;
  height: 100%;
  width: 100%;
  display: inline-flex;
  align-items: center;
}

.player-selectAudio select{
  max-width: 200px;
  width: 200px;
}
.player-selectTo input, .player-selectFrom input{
  width: 50px;
}
.player-selectTo,.player-selectFrom,.player-selectIsLoop{
  display: flex;
}
.player-selectTo,.player-selectFrom,.player-selectIsLoop, .player-selectAudio{
  margin-right: 20px;
}
