#stopButton{
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.2);
  height: 100%;
  flex: none;
  transition: background-color 0.2s ease;
  }
#stopButton:hover{
  background: rgba(250,250,250,0.05);
}
.stopIcon{
  width: 11px;
  height: 11px;
  background: #fff;
}
